@model List<Book>
@{
    ViewBag.Title = "Empty MVC Template";
}

<h2>Tony's Programming Books</h2>

<a asp-controller="Book" asp-action="Add">Add New Book</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Author/s</th>
            <th>Language</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookTitle</td>
                <td>@book.BookAuthor</td>
                <td>@book.LanguageId</td>
                <td>
                    @*this edits the url to add either Edit or Delete AND BookId at the end*@
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.BookId">Edit</a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


